// cd it-react
// stylus -w .\src\styl\App.styl -o .\src\styl\App.css
// Delete
body::-webkit-scrollbar {
    display: none;
}

:root {
    --header-height: 50px;
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --game-max-width: 800px;
    --header-height: 50px;
    --font-Family : 'Comic Sans MS' 
    --keyboard-width : 40% ;
    --keyboard-height : 30% ;
}

body {
  padding: 0% 
  margin: 0
}
.App {
  width: 100% 
  height: 100% 
  position: relative
}

@keyframes topTObottom {
    0% { top: -100%; }
    // 50%{ top: -100%; }
    100% { top: 0%; }
}
#dark{
  background-color: #121212
  color: white  
  .question-open{
      display: block
      background-color: black
      color: white
      width 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 100
      animation: topTObottom 
      animation-duration: 1s
      h2{
        display: inline-block
        width: 50%
      }
  }
  
}
#light{
  background-color: white 
  color: #121212
  header{
    color: var(--color-tone-7)
  }
  .letter {
    border: 2px solid rgb(197, 193, 193);
  }  
  .blackboard{
    width: 13%
    height: 45px
    border: 2px solid rgba(10, 9, 9, 0.47);
    margin: 0px 2.5px 0px 2.5px 
    font-weight: bolder;
    color: black;
    font-family: 'Comic Sans MS';
    border-radius: 5%
    display: grid 
    place-items: center
    animation: bounceIn
    animation-duration: 1s
  }
  .key {
    width: 45px;
    height: 55px;
    margin: 0px 5px 0px 0px
    font-size: 14px;
    color: black;
    background-color: #d3d6da;
    font-family: var(--font-Family)
    border-radius: 10%
    display: grid
    place-items: center 
    outline: none
    border: none
  }
  #big {
    width: 90px;
  }
  #disabled {
    background-color: #3a393c;
  }

.toast{
  width: 180px
  height: 40px
  pointer:none
  line-height: 50px
  text-align: center
  margin: 10px
  color : white 
  background: black
  fontSize: 14
  margin: 10
  padding: 10
  animation: "fadeIn" 
  animationDuration: "1s"
  }
  .question-open{
      display: block
      background-color: white
      color: black
      width 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 100
      animation: topTObottom 
      animation-duration: 1s
      h2{
        display: inline-block
        width: 50%
      }
  }
}
.blackboard{
  width: 13%
  height: 45px
  border: 2px solid rgba(255, 255, 255, 0.47);
  margin: 0px 2.5px 0px 2.5px 
  font-weight: bolder;
  color: white;
  font-family: 'Comic Sans MS';
  border-radius: 5%
  display: grid 
  place-items: center
  animation: bounceIn
  animation-duration: 0.5s
  }

header{
    height: var(--header-height)
    color: var(--color-tone-1)
    border-bottom: 1px solid var(--color-tone-4)
    display: flex
    align-items: center
    justify-content: space-between
    gap: 50px
    @media (max-width:415px) {
        padding: 0 16px;
    }
    .title{
    font-family: var(--font-Family)
    font-weight: 700 
    font-size: 37px;
    letter-spacing: 0.01em 
    text-align: center
    pointer-events: none 
    margin: 5px 0px 0px 70px
    align-self :center
    }
    .question-closed{
      display: none
    }
    .question-open{
      display: block
      background-color: white
      color: black
      width 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 100
      h2{
        display: inline-block
        width: 50%
      }
      // span{
      //   display: inline-block
      // }
      p{
        font-size: 16px
      }
    }
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(90, 228, 78);
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


#game{
    width: 70%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: calc(100vh - var(--header-height));
    display: grid
    grid-template-columns: 1fr 450px 1fr
    grid-template-rows:  7fr 3fr 10px 
    position: relative
}
#board-container {
  grid-column: 2/3
  grid-row: 1/2
}
.board{
  margin: 10px auto 5px auto
  // background-color: blue
    width: 75%
    // height: 60%
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    // grid-template-columns: repeat(5, 1fr);
    // grid-gap: 2.5px;
    // padding: 10px;
    box-sizing: border-box;
}
.row {
    width: 100%
    height: 20%
    display: flex
    flex-wrap: wrap
    display: flex
    justify-content:center
    margin-top: 5px
}
.letter {
    width: 13%
    height: 45px
    border: 2px solid #3a3a3c;
    margin: 0px 2.5px 0px 2.5px 
    font-weight: bolder;
    color: white;
    font-family: 'Comic Sans MS';
    border-radius: 5%
    display: grid 
    place-items: center
}


.keyboard {
  grid-column: 1/4
  grid-row: 2/3
}

.line1 {
    display: flex;
    justify-content: center
}
.line2 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.line3 {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.key {
    width: 45px;
    height: 55px;
    margin: 0px 5px 0px 0px
    font-size: 14px;
    color: white;
    background-color: grey;
    font-family: var(--font-Family)
    border-radius: 10%
    display: grid
    place-items: center 
    outline: none
    border: none
}

#big {
  width: 90px;
}
#disabled {
  background-color: #3a393c;
}

.gameOver{
  // grid-column: 1/4
  // grid-row: 2/3
  border: 2px black solid
  width: 400px
  height: auto
  background-color: white
  position: absolute
  top: 16px
  left: 200px
  color: black
  box-shadow: 3px 3px #666
  animation: fadeInUpBig
  animation-duration: 2s

  .statistic_close{
    width: 100%
    height: 30px
    text-align: right 
  }
  h1{
    text-align: center
    margin: 10px 0px 5px 0px
  }
  h2{
    text-align: center
    margin: 10px 0px 5px 0px
  }
  h3{
    text-align: center
    margin: 0px
  }
  .guess_attemp{
    text-align: center
  }
  .gameover_statistic{
    display: flex
    text-align: center
  }
  .played_view{
    width: 50%
  }
  .win_view{
    width: 50%
  }
  .gameover_next{
    margin-top: 20px
    display: flex
    text-align: center
  }
  .gameover_clock{
    width: 50%
  }
  .gameover_share{
    width: 50%
    border-left: 1px black solid
  }
  .gameover_note{
    text-align: center
    border-top: 1px #666 solid
    margin-top : 20px
    padding: 10px 0px 0px 0px
  }
  button{
    width: 100px
    height: 50px
    margin: 20px 0px 0px 5px
    background-color: rgb(161, 160, 160)
    border: 3px solid rgba(52, 57, 52, 0.388)
    border-radius: 10px
    cursor : pointer
    color: white
    font-size: 20px
    &:hover{
      background-color:#b5b6b8c6;
      transition: 0.3s;
    }
  }
}
.statistic_close{
  margin: 5px 10px 0px 0px
  float: right
}
#correct{
  background-color: rgb(74, 208, 74)
  animation: flipInX
  animation-duration: 1s
}

#almost{
  background-color: rgba(239, 239, 66, 0.861)
}
#error{
  background-color: #3a393c;
}
.foo{
  animation: shakeX 
  animation-duration: 1s
}

.toast{
  line-height: 35px
  text-align: center
  width: 160px
  height: 30px
  margin: 20px
  color : black 
  background: white
  fontSize: 14
  padding: 10
  animation: "fadeIn" 
  animationDuration: "1s"
  pointer : pointer
  border-radius: 5px
  }
  

// dark
// .question{
//   background-color: dark
//   color: white
// }

.descriptioninGame{
    width: 100%
    height: 100vh
}
.close_description{
  float: right
  cursor: pointer
}
.description-textinGame{
    margin: 0px auto 0px auto
    width: 490px
    height: 500px
    // border:5px #FFAC55 solid
    padding: 10px
    position: absolute 
    left: 30%
    
    h4{
        text-align: center
        margin: 0px
    }
    .bold{
        font-weight: bold
    }
    hr{
        border: 0.5px solid white
    }
    
    .description-flex{
        display: flex
        flex-wrap: wrap
    }
    .description-notice{
        margin: 0px auto 0px auto
        width:70% 

        .description-github{
            width: 30px
            height: 30px
            // background-color: black
            cursor: pointer
            border-radius: 50%
            float: right
        }
        .letter-example {
            display: flex
            flex-wrap: nowrap
        }
        span{
            margin: 0px 5px 0px 5px
        }
        .correct{
            background-color: rgb(74, 208, 74)
            animation: flipInX 1s
            animation-delay: 3s
        }
        .almost{
            animation: flipInX 1s
            background-color: rgba(239, 239, 66, 0.861)
            animation-delay: 3s
        }
        .error{
            animation: flipInX
            animation-duration: 1s
            animation-delay: 3s
            background-color: #3a393c;
        }
  }
}


