body::-webkit-scrollbar {
  display: none;
}
:root {
  --header-height: 50px;
  --color-tone-1: #fff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --game-max-width: 800px;
  --header-height: 50px;
  --font-Family: 'Comic Sans MS';
  --keyboard-width: 40%;
  --keyboard-height: 30%;
}
body {
  padding: 0%;
  margin: 0;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
}
#dark {
  background-color: #121212;
  color: #fff;
}
#light {
  background-color: #fff;
  color: #121212;
}
#light header {
  color: var(--color-tone-7);
}
#light .letter {
  color: var(--color-tone-7);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #4ee4dc;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
header {
  height: var(--header-height);
  color: var(--color-tone-1);
  border-bottom: 1px solid var(--color-tone-4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (max-width: 415px) {
  header {
    padding: 0 16px;
  }
}
header .title {
  font-family: var(--font-Family);
  font-weight: 700;
  font-size: 37px;
  letter-spacing: 0.01em;
  text-align: center;
  pointer-events: none;
  margin: 0px;
}
header .question-closed {
  display: none;
}
header .question-open {
  display: block;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
header .question-open h2 {
  display: inline-block;
  width: 50%;
}
header .question-open span {
  display: inline-block;
}
header .question-open p {
  font-size: 16px;
}
#game {
  width: 70%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: 7fr 3fr 10px;
  position: relative;
}
#board-container {
  grid-column: 2/3;
  grid-row: 1/2;
}
.board {
  margin: 10px auto 5px auto;
  width: 75%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
}
.row {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.letter {
  width: 13%;
  height: 45px;
  border: 2px solid #3a3a3c;
  margin: 0px 2.5px 0px 2.5px;
  font-weight: bolder;
  color: #fff;
  font-family: 'Comic Sans MS';
  border-radius: 5%;
  display: grid;
  place-items: center;
}
.keyboard {
  grid-column: 1/4;
  grid-row: 2/3;
}
.line1 {
  display: flex;
  justify-content: center;
}
.line2 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.line3 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.key {
  width: 45px;
  height: 55px;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  color: #fff;
  background-color: #808080;
  font-family: var(--font-Family);
  border-radius: 10%;
  display: grid;
  place-items: center;
  border: 1px solid #666;
}
#big {
  width: 90px;
}
#disabled {
  background-color: #3a393c;
}
.gameOver {
  margin: 20px 0px 0px 20px;
}
#correct {
  background-color: #4ad04a;
  animation: flipInX;
  animation-duration: 1s;
}
#almost {
  background-color: rgba(239,239,66,0.861);
}
#error {
  background-color: #3a393c;
}
.foo {
  animation: shakeX;
  animation-duration: 1s;
}
.toast {
  display: none;
  position: absolute;
  top: 30px;
  left: 400px;
  width: 70px;
  height: 30px;
  background-color: #808080;
  display: block;
  z-index: 50;
  opacity: 0.8;
}
.toast_none {
  display: none;
}
.login img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.login .member_page_close {
  display: none;
}
.login .member_page {
  z-index: 100;
  display: block;
  position: absolute;
  width: 350px;
  height: 300px;
  background-color: #fff;
  top: 70px;
  right: 35%;
  border: #666 1px solid;
}
.login .member_bar {
  display: flex;
  color: #000;
  justify-content: space-evenly;
}
.login .member_bar p {
  border: #666 1px 1px 0px 1px solid;
  text-align: center;
  margin: 0px;
}
.login .member_bar .member-click {
  background-color: #666;
}
.login .member_bar .member-none-click {
  background-color: #fff;
}
.login .member_bar p:nth-child(1) {
  flex-grow: 2;
}
.login .member_bar p:nth-child(2) {
  flex-grow: 2;
}
.login .member_bar p:nth-child(3) {
  flex-grow: 0.5;
}
