// cd it-react
// stylus -w .\src\styl\App.styl -o .\src\css\App.css

:root {
    --header-height: 50px;
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --game-max-width: 800px;
    --header-height: 50px;
    --font-Family : 'Comic Sans MS' 
    --keyboard-width : 40% ;
    --keyboard-height : 30% ;
}

body {
  padding: 0% 
  margin: 0
}
.App {
  
  width: 100% 
  height: 100% 
  position: relative
}
#dark{
  background-color: #121212
  color: white  

}
#light{
  background-color: white 
  color: #121212
  header{
    color: var(--color-tone-7)
  }
  .letter {
    color: var(--color-tone-7)
  }  
}
.switch{
  
  img{
    width :20px
    height: 20px
    border-radius: 50%
    margin: 5px 10px 5px 5px
  }
}

header{
    height: var(--header-height)
    color: var(--color-tone-1)
    border-bottom: 1px solid var(--color-tone-4)
    display: flex
    justify-content:center 
    align-items: center
    gap: 50px
    @media (max-width:415px) {
        padding: 0 16px;
    }
    .title{
    font-family: var(--font-Family)
    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
    left: 0;
    right: 0;
    pointer-events: none;
    }
    .question{
      display: none
      background-color: black
      color: white
      width 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 100
      h2{
        display: inline-block
        width: 50%
      }
      span{
        display: inline-block
      }
      p{
        font-size: 16px
      }
    }
}
#game{
    width: 70%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
}
#board-container {
    width: 100%
    height: auto
    min-height: 60%
    margin: 0px 0px 0px 0px
}
.board{
    width: 40%
    height: 90%
    margin: 10px auto 0px auto
    display: flex
    flex-wrap: wrap
    justify-content :center
}
.row {
    width: 100%
    height: 17%
    display: flex
    flex-wrap: wrap
    display: flex
    justify-content:center
}
.letter {
    width: 40px
    height: 40px
    border: 2px solid rgb(150, 148, 148);
    margin: 10px 3px 5px 3px 
    
    font-weight: bolder;
    color: white;
    font-family: 'Comic Sans MS';
    border-radius: 5%
    display: grid 
    place-items: center
}
// keyboard

.keyboard {
    width: 70%
    height: 240px
    margin: 10px auto 5px auto
}

.line1 {
    display: flex;
    justify-content: center
}
.line2 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.line3 {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.key {
    width: 40px;
    height: 55px;
    margin: 0px 5px 0px 0px
    font-size: 16px;
    color: white;
    background-color: grey;
    font-family: var(--font-Family)
    border-radius: 10%
    display: grid
    place-items: center 
    border: 1px solid #666;
}

#big {
  width: 90px;
}
#disabled {
  background-color: #3a393c;
}

.gameOver{
  margin: 20px 0px 0px 20px
}
#correct{
  background-color: rgb(74, 208, 74)
  animation: flipInX
  animation-duration: 1s
}

#almost{
  background-color: rgba(239, 239, 66, 0.861)
}
.foo{
  animation: shakeX 
  animation-duration: 1s
}

