body::-webkit-scrollbar {
  display: none;
}
:root {
  --header-height: 50px;
  --color-tone-1: #fff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --game-max-width: 800px;
  --header-height: 50px;
  --font-Family: 'Comic Sans MS';
  --keyboard-width: 40%;
  --keyboard-height: 30%;
}
body {
  padding: 0%;
  margin: 0;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
}
#dark {
  background-color: #121212;
  color: #fff;
}
#light {
  background-color: #fff;
  color: #121212;
}
#light header {
  color: var(--color-tone-7);
}
#light .letter {
  border: 2px solid #c5c1c1;
}
#light .blackboard {
  width: 13%;
  height: 45px;
  border: 2px solid rgba(10,9,9,0.47);
  margin: 0px 2.5px 0px 2.5px;
  font-weight: bolder;
  color: #000;
  font-family: 'Comic Sans MS';
  border-radius: 5%;
  display: grid;
  place-items: center;
  animation: bounceIn;
  animation-duration: 0.5s;
}
#light .key {
  width: 45px;
  height: 55px;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  color: #000;
  background-color: #d3d6da;
  font-family: var(--font-Family);
  border-radius: 10%;
  display: grid;
  place-items: center;
  outline: none;
  border: none;
}
#light #big {
  width: 90px;
}
#light #disabled {
  background-color: #3a393c;
}
#light .toast {
  width: 180px;
  height: 40px;
  pointer: none;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  color: #fff;
  background: #000;
  fontSize: 14;
  margin: 10;
  padding: 10;
  animation: "fadeIn";
  animationDuration: "1s";
}
.blackboard {
  width: 13%;
  height: 45px;
  border: 2px solid rgba(255,255,255,0.47);
  margin: 0px 2.5px 0px 2.5px;
  font-weight: bolder;
  color: #fff;
  font-family: 'Comic Sans MS';
  border-radius: 5%;
  display: grid;
  place-items: center;
  animation: bounceIn;
  animation-duration: 0.5s;
}
header {
  height: var(--header-height);
  color: var(--color-tone-1);
  border-bottom: 1px solid var(--color-tone-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 415px) {
  header {
    padding: 0 16px;
  }
}
header .title {
  font-family: var(--font-Family);
  font-weight: 700;
  font-size: 37px;
  letter-spacing: 0.01em;
  text-align: center;
  pointer-events: none;
  margin: 5px 0px 0px 70px;
  align-self: center;
}
header .question-closed {
  display: none;
}
header .question-open {
  display: block;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
header .question-open h2 {
  display: inline-block;
  width: 50%;
}
header .question-open span {
  display: inline-block;
}
header .question-open p {
  font-size: 16px;
}
.question {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 20px;
  border-radius: 50%;
}
.night_controller {
  display: flex;
  margin: 0px 20px 0px 5px;
}
.night_controller img {
  width: 20px;
  height: 20px;
  margin: 5px 5px 0px 3px;
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #5ae44e;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
#game {
  width: 70%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: 7fr 3fr 10px;
  position: relative;
}
#board-container {
  grid-column: 2/3;
  grid-row: 1/2;
}
.board {
  margin: 10px auto 5px auto;
  width: 75%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
}
.row {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.letter {
  width: 13%;
  height: 45px;
  border: 2px solid #3a3a3c;
  margin: 0px 2.5px 0px 2.5px;
  font-weight: bolder;
  color: #fff;
  font-family: 'Comic Sans MS';
  border-radius: 5%;
  display: grid;
  place-items: center;
}
.keyboard {
  grid-column: 1/4;
  grid-row: 2/3;
}
.line1 {
  display: flex;
  justify-content: center;
}
.line2 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.line3 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.key {
  width: 45px;
  height: 55px;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  color: #fff;
  background-color: #808080;
  font-family: var(--font-Family);
  border-radius: 10%;
  display: grid;
  place-items: center;
  outline: none;
  border: none;
}
#big {
  width: 90px;
}
#disabled {
  background-color: #3a393c;
}
.gameOver {
  border: 2px #000 solid;
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 200px;
  color: #000;
  box-shadow: 3px 3px #666;
  animation: fadeInUpBig;
  animation-duration: 2s;
}
.gameOver .statistic_close {
  width: 100%;
  height: 30px;
  text-align: right;
}
.gameOver h2 {
  text-align: center;
  margin: 0px;
}
.gameOver h3 {
  text-align: center;
  margin: 0px;
}
.gameOver .guess_attemp {
  text-align: center;
}
.gameOver .gameover_statistic {
  display: flex;
  text-align: center;
}
.gameOver .played_view {
  width: 50%;
}
.gameOver .win_view {
  width: 50%;
}
.gameOver .gameover_next {
  margin-top: 20px;
  display: flex;
  text-align: center;
}
.gameOver .gameover_clock {
  width: 50%;
}
.gameOver .gameover_share {
  width: 50%;
  border-left: 1px #000 solid;
}
.gameOver .gameover_note {
  text-align: center;
  border-top: 1px #666 solid;
  margin-top: 20px;
  padding: 10px 0px 0px 0px;
}
.statistic_close {
  margin: 5px 10px 0px 0px;
  float: right;
}
#correct {
  background-color: #4ad04a;
  animation: flipInX;
  animation-duration: 1s;
}
#almost {
  background-color: rgba(239,239,66,0.861);
}
#error {
  background-color: #3a393c;
}
.foo {
  animation: shakeX;
  animation-duration: 1s;
}
.toast {
  line-height: 50px;
  text-align: center;
  width: 180px;
  height: 40px;
  margin: 10px;
  color: #000;
  background: #fff;
  fontSize: 14;
  margin: 10;
  padding: 10;
  animation: "fadeIn";
  animationDuration: "1s";
  pointer: none;
}
