:root {
  --header-height: 50px;
  --color-tone-1: #fff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --game-max-width: 800px;
  --header-height: 50px;
  --font-Family: 'Comic Sans MS';
  --keyboard-width: 40%;
  --keyboard-height: 30%;
}
body {
  padding: 0%;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
}
.letter {
  width: 13%;
  height: 45px;
  margin: 0px 2.5px 0px 2.5px;
  font-weight: bolder;
  color: #fff;
  font-family: 'Comic Sans MS';
  border-radius: 5%;
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  .letter {
    width: 16%;
    height: 55px;
    margin: 0px 1.5px 0px 2px;
  }
}
#dark {
  background-color: #121212;
  color: #fff;
}
#dark .letter {
  border: 2px solid var(--color-tone-4);
}
#dark .key {
  background-color: var(--color-tone-2);
  color: var(--color-tone-1);
}
#dark .question-open {
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
}
#dark .blackboard {
  border: 2px solid var(--color-tone-3);
}
#light {
  background-color: #fff;
  color: #000;
}
#light .letter {
  border: 2px solid #bebdbd;
}
#light .key {
  background-color: #8e8d8d;
  color: var(--color-tone-1);
}
#light .question-open {
  background-color: var(--color-tone-1);
  color: var(--color-tone-7);
}
#light .blackboard {
  border: 2px solid var(--color-tone-3);
}
.toast {
  width: 180px;
  height: 40px;
  background-color: var(--color-tone-1);
  pointer: none;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  fontSize: 14;
  margin: 10;
  padding: 10;
  animation: "fadeIn";
  animationDuration: "1s";
  cursor: pointer;
}
.ToastContainer {
  position: fixed;
  right: 42%;
  top: 30%;
  color: #000;
  font-size: 20px;
}
.blackboard {
  width: 13%;
  height: 45px;
  margin: 0px 2.5px 0px 2.5px;
  font-weight: bolder;
  font-family: 'Comic Sans MS';
  border-radius: 5%;
  display: grid;
  place-items: center;
  animation: bounceIn;
  animation-duration: 1s;
}
@media (max-width: 600px) {
  .blackboard {
    width: 16%;
    height: 55px;
    margin: 0px 1.5px 0px 2px;
  }
}
header {
  height: var(--header-height);
  border-bottom: 1px solid var(--color-tone-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 600px) {
  header {
    gap: 20px;
  }
}
header .title {
  font-family: var(--font-Family);
  font-weight: 700;
  font-size: 37px;
  letter-spacing: 0.01em;
  text-align: center;
  pointer-events: none;
  margin: 5px 0px 0px 70px;
  align-self: center;
}
@media (max-width: 600px) {
  header .title {
    font-weight: 600;
    margin: 5px 0px 0px 50px;
  }
}
.question {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 20px;
  border-radius: 50%;
  cursor: pointer;
}
.night_controller {
  display: flex;
  margin: 0px 20px 0px 5px;
}
.night_controller img {
  width: 20px;
  height: 20px;
  margin: 5px 5px 0px 3px;
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #5ae44e;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
#game {
  width: 70%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: 7fr 3fr 10px;
  position: relative;
}
@media (max-width: 600px) {
  #game {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 4fr 10px;
  }
}
#board-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  #board-container {
    grid-column: 1/1;
  }
}
.board {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .board {
    margin: 10px auto 0px auto;
    width: 90%;
  }
}
.row {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
@media (max-width: 600px) {
  .row {
    margin: 5px auto 0px auto;
  }
}
.keyboard {
  grid-column: 1/4;
  grid-row: 2/3;
}
@media (max-width: 600px) {
  .keyboard {
    grid-column: 1/1;
    margin: 20px auto 0px auto;
  }
}
.line1 {
  display: flex;
  justify-content: center;
}
.line2 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
@media (max-width: 600px) {
  .line2 {
    margin: 10px auto 15px auto;
  }
}
.line3 {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.key {
  width: 45px;
  height: 55px;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  font-family: var(--font-Family);
  border-radius: 10%;
  display: grid;
  place-items: center;
  outline: none;
  border: none;
}
@media (max-width: 600px) {
  .key {
    width: 32px;
    height: 50px;
  }
}
#big {
  width: 90px;
}
@media (max-width: 600px) {
  #big {
    width: 52px;
    font-size: 10px;
  }
}
#disabled {
  background-color: #3a393c;
}
.gameOver {
  border: 2px #000 solid;
  width: 400px;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 16px;
  left: 25%;
  color: #000;
  box-shadow: 3px 3px #a4a2a2;
  animation: fadeInUpBig;
  animation-duration: 3s;
}
@media (max-width: 900px) {
  .gameOver {
    width: 520px;
    top: 18%;
    left: 2%;
  }
}
@media (max-width: 600px) {
  .gameOver {
    top: 3%;
    width: 95%;
  }
}
.gameOver .statistic_close {
  width: 100%;
  height: 30px;
  text-align: right;
}
.gameOver h1 {
  text-align: center;
  margin: 10px 0px 5px 0px;
}
.gameOver h2 {
  text-align: center;
  margin: 10px 0px 5px 0px;
}
.gameOver h3 {
  text-align: center;
  margin: 0px;
}
.gameOver .guess_attemp {
  text-align: center;
}
.gameOver .gameover_statistic {
  display: flex;
  text-align: center;
}
.gameOver .played_view {
  width: 50%;
}
.gameOver .win_view {
  width: 50%;
}
.gameOver .gameover_next {
  margin-top: 20px;
  display: flex;
  text-align: center;
}
.gameOver .gameover_clock {
  width: 50%;
}
.gameOver .gameover_share {
  width: 50%;
  border-left: 1px #000 solid;
}
.gameOver .gameover_note {
  text-align: center;
  border-top: 1px #666 solid;
  margin-top: 20px;
  padding: 10px 0px 0px 0px;
}
.gameOver button {
  width: 100px;
  height: 50px;
  margin: 20px 0px 0px 5px;
  background-color: #a1a0a0;
  border: 3px solid rgba(52,57,52,0.388);
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.gameOver button:hover {
  background-color: rgba(181,182,184,0.776);
  transition: 0.3s;
}
#correct {
  background-color: #4ad04a;
  animation: flipInX;
  animation-duration: 1s;
}
#almost {
  background-color: rgba(239,239,66,0.861);
}
#error {
  background-color: #3a393c;
}
.foo {
  animation: shakeX;
  animation-duration: 1s;
}
.question-open {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: topTObottom;
  animation-duration: 1s;
}
.question-open p {
  font-size: 16px;
}
.question-closed {
  display: none;
}
.descriptioninGame {
  width: 100%;
  height: 530px;
  display: grid;
  place-items: center;
}
.description-textinGame {
  margin: 0px auto 0px auto;
  width: 490px;
  height: 500px;
  padding: 10px;
  position: absolute;
  left: 30%;
}
@media (max-width: 900px) {
  .description-textinGame {
    position: static;
  }
}
@media (max-width: 600px) {
  .description-textinGame {
    width: 90%;
  }
}
.description-textinGame .close_description {
  float: right;
  cursor: pointer;
}
.description-textinGame h4 {
  text-align: center;
  margin: 0px;
}
.description-textinGame .bold {
  font-weight: bold;
}
.description-textinGame hr {
  border: 0.5px solid #fff;
}
.description-textinGame .description-flex {
  display: flex;
  flex-wrap: wrap;
}
.description-textinGame .description-notice {
  margin: 0px auto 0px auto;
  width: 70%;
}
@media (max-width: 600px) {
  .description-textinGame .description-notice {
    margin: 0px;
    width: 100%;
  }
}
.description-textinGame .description-notice .description-github {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  float: right;
}
.description-textinGame .description-notice .letter-example {
  display: flex;
  flex-wrap: nowrap;
}
.description-textinGame .description-notice .letter-example .letter {
  margin: 0px 3px 0px 0px;
}
.description-textinGame .description-notice span {
  margin: 0px 5px 0px 5px;
}
.description-textinGame .description-notice .correct {
  background-color: #4ad04a;
  animation: flipInX 1s;
  animation-delay: 3s;
}
.description-textinGame .description-notice .almost {
  animation: flipInX 1s;
  background-color: rgba(239,239,66,0.861);
  animation-delay: 3s;
}
.description-textinGame .description-notice .error {
  animation: flipInX;
  animation-duration: 1s;
  animation-delay: 3s;
  background-color: #3a393c;
}
@-moz-keyframes topTObottom {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes topTObottom {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@-o-keyframes topTObottom {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes topTObottom {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
