// cd it-react
// stylus -w .\src\styl\Home.styl -o .\src\css\Home.css
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@1,900&display=swap');
.Home{
    background-color: black
    width: 100vw
    height: 100vh
    background-size: cover;
    .title-text{
        width: 60%
        height: 100vh
        margin: 0px auto 0px auto
        text-align: center
            .up-title{
                white-space: nowrap;
                letter-spacing: -1px;
                font-family: 'Roboto', sans-serif;
                margin: 0px auto 0px auto
                color: rgba(255, 255, 255, 0.352)
                font-size: 120px
            }
            .bottom-title{
                white-space: nowrap;
                letter-spacing: -1px;
                font-family: 'Roboto', sans-serif;
                margin: 0px auto 0px auto
                color: rgba(255, 255, 255, 0.653)
                font-size: 120px
            }
            p{
                color: rgba(255, 255, 255, 0.653)
                font-family: 'Roboto Flex', sans-serif;
            }
    }
}